<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="layout(title, content)">
<head th:replace="~{fragment/frag :: head_dashboard}">
</head>
<body>
<div class="container-fluid position-relative d-flex p-0">
    <div th:replace="~{fragment/frag :: sidebar_dashboard}"></div>

    <!-- Content -->
    <div class="content">

        <div th:replace="~{fragment/frag :: navbar_dashboard}"></div>

        <!-- Content slot - SAFE -->
        <div th:if="${content != null}">
            <th:block th:replace="${content}"></th:block>
        </div>

        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded p-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h6 class="mb-0">Vouchers Management</h6>
                    <div class="d-flex align-items-center">
                        <a th:href="@{vouchers/create}" class="btn btn-primary btn-compact">
                            <i class="fa fa-plus me-2"></i>Add Voucher
                        </a>
                    </div>
                </div>

                <div class="table-responsive" >
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-white">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Discount Type</th>
                            <th scope="col">Value</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody id="voucherTableBody">
                        <tr th:each="vouchers : ${vouchersList}">
                            <td th:text="${vouchers.voucherId}"></td>
                            <td th:text="${vouchers.voucherName}"></td>
                            <td th:text="${vouchers.discountType}"></td>
                            <td th:text="${vouchers.discountType.equalsIgnoreCase('amount') ? #numbers.formatDecimal(vouchers.discountValue, 0, 'COMMA', 0, 'POINT') + ' VNĐ' : vouchers.discountValue + '%'}"></td>
                            <td th:text="${vouchers.isStatus() ? 'Active' : 'Inactive'}"></td>
                            <td>
                                <a th:href="@{/vouchers/update/{id} (id= ${vouchers.voucherId})}"
                                   class="btn btn-success btn-compact">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a th:href="@{/vouchers/detail/{id} (id= ${vouchers.voucherId})}"
                                   class="btn btn-light btn-compact">
                                    <i class="bi bi-eye-fill"></i> Details
                                </a>
                                <button class="btn btn-danger delete-voucher-btn btn-compact"
                                        th:attr="data-id=${vouchers.voucherId}, data-name=${vouchers.voucherName}"
                                        onclick="openDeleteModal(this.dataset.id, this.dataset.name)">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <p class="text-danger" th:if="${vouchersList.isEmpty()}" th:text="${voucherEmpty}"></p>


                    <nav aria-label="Page navigation example" th:if="${vouchersList.isEmpty()}" th:classappend="hidden">
                        <ul class="pagination justify-content-center">
                            <!-- Previous -->
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a class="page-link" th:href="@{/vouchers(page=${currentPage - 1})}">Pre</a>
                            </li>

                            <!-- Page numbers -->
                            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/vouchers(page=${i})}" th:text="${i}"></a>
                            </li>

                            <!-- Next -->
                            <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
                                <a class="page-link" th:href="@{/vouchers(page=${currentPage + 1})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!--Delete voucher-->
    <div class="modal fade" id="deleteVoucherModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Voucher</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the voucher <strong class="text-danger" id="deleteVoucherCode"></strong> (ID: <span
                            id="deleteVoucherIdDisplay"></span>)?</p>
                    <p class="text-warning small">**(Warning: Deleting a voucher that has been used may affect
                        historical
                        booking data).**</p>
                </div>
                <form th:action="@{/vouchers/delete}" method="post">
                    <input type="hidden" id="deleteVoucherId" name="voucherId"  />
                    <div class="modal-footer">
                        <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" id="confirmDeleteVoucherBtn">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/dashboard.js"></script>

</body>
</html>