<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGV Movies - Your Movie Experience Begins Here</title>
    <meta name="description"
          content="Book movie tickets online at CGV. Watch the latest movies in premium cinemas with the best sound and picture quality.">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

</head>

<body>

<header th:replace="~{fragment/frag :: navbar_homepage}"></header>

<!-- Main Content -->
<main role="main" class="movies">
    <section id="promotions" class="section">
        <div class="container">
            <div class="section__header section-header">
                <h2 class="section__title">Payment</h2>
                <a th:href="@{/homepage}" class="btn btn-light btn-sm mt-2">
                    ← Back
                </a>
            </div>
            <div class="container-fluid pt-4 px-4">
                <p>Booking Successfully</p>
            </div>

        </div>
    </section>

</main>

<footer th:replace="~{fragment/frag :: footer_homepage}"></footer>



<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/js/hero.js}"></script>
</body>
</html>
